.feynman__link {
  margin: 0;
  padding: 0;
  position: absolute;
  text-decoration: none;
  color: #2f80ed;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  top: 50%;
  right: 48px;

}